html {
    /* primary / point / semantic */
    --primary-500: 8, 136, 221;
    --danger-500: 242, 68, 48;
    --info-500: 72, 129, 255;
    /* background */
    --bg-300: 221, 222, 223;
    --bg-200: 239, 242, 246;
    --bg-100: 246, 247, 248;
    --bg-000: 255, 255, 255;
    --bg-hover: 246, 247, 248;
    /* text */
    --text-900: 21, 19, 26;
    --text-700: 107, 107, 107;
    --text-500: 145, 145, 145;
    --text-300: 210, 212, 219;
    /* border */
    --border-300: 225, 225, 225;
} 
html[data-theme="dark"] {
    /* primary / point / semantic */
    --primary-500: 10, 170, 255;
    --danger-500: 242, 68, 48;
    --info-500: 72, 129, 255;
    /* background */
    --bg-100: 21, 19, 26;
    --bg-000: 34, 32, 40;
    --bg-hover: 21, 19, 26;
    --bg-200: 41, 39, 46;
    --bg-300: 29, 26, 34;
    /* text */
    --text-900: 255, 255, 255;
    --text-700: 178, 180, 191;
    --text-500: 125, 126, 133;
    --text-300: 80, 80, 91;
    /* border */
    --border-300: 80, 80, 91;
}
