.box { display: block; border-radius: 0.8rem; background-color: rgb(var(--bg-100)); overflow: hidden; } 
a.box:hover { background-color: rgb(var(--bg-hover)) !important; } 

.tag-wrap { display: flex; width: 100%; gap: 0.4rem; overflow-x: auto; -webkit-overflow-scrolling: touch; cursor: grab; } 
.tag-wrap::-webkit-scrollbar { display: none; } 
.tag { display: inline-block; font-size: 1.2rem; font-weight: 500; padding: 0.4rem 1.2rem; border-radius: 9rem; color: rgb(var(--txt-900)); background-color: rgb(var(--bg-300)); } 

.lottie-wrap { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 32rem; } 

/* ==================== 탭 ==================== */
.tab-wrap { display: flex; width: 100%; align-items: center; border-radius: 0.6rem; background: var(--bg_type02); padding: 0.2rem; margin-top: 1.2rem; } 
.tab-wrap button { position: relative; flex: 1; padding: 0.2rem 0.4rem; font-weight: 600; color: var(--txt_type02); z-index: 1; transition: color 0.4s linear; overflow: hidden; } 
.tab-wrap button:first-child { border-radius: 0.4rem 0 0 0.4rem; } 
.tab-wrap button:last-child { border-radius: 0 0.4rem 0.4rem 0; } 
.tab-wrap button::before { content: ''; display: block; width: 0; height: 100%; position: absolute; right: 0; top: 0; background-color: var(--bg_primary); transition: width 0.4s linear; z-index: -1; } 
.tab-wrap button.active { color: var(--txt_primary); } 
.tab-wrap button.active::before { width: 100%; right: unset; left: 0; } 
/* ==================== 표 ==================== */
.tb-wrap { overflow: hidden;  margin-top: 1.2rem; }
.tb-wrap table { margin-left: -0.1rem; border-bottom: 0.1rem solid rgb(var(--brd-300)); font-size: 1.4rem; }
.tb-wrap table tr[role="button"] { cursor: pointer; }
.tb-wrap table tr[role="button"]:hover { background-color: rgb(var(--bg-hover)); }
.tb-wrap table th,
.tb-wrap table td { border: solid rgb(var(--brd-300)); border-width: 0.1rem 0 0 0.1rem; padding: 0.8rem 0.8rem; }
.tb-wrap table th { background-color: rgb(var(--bg-100)); }
.tb-wrap.ty-row th,
.tb-wrap.ty-row td { border-width: 0.1rem 0 0 0; background: unset; padding: 0.6rem 0.8rem; }
/* ==================== 목록 ==================== */
.list { margin-top: 1.6rem; }
.list li { position: relative; font-weight: 400; word-break: break-all; }
.list li::before { display: block; position: absolute; left: 0; background: currentColor; }
.list li ul,
.list li + li { margin-top: 0.4rem; }
.list[data-bul="dot"] > li { padding-left: 0.8rem; }
.list[data-bul="dot"] > li::before { content: ""; top: 0.9rem; width: 0.3rem; height: 0.3rem; border-radius: 50%; }
.list[data-bul="dash"] > li,
.list[data-bul="dot"] > li > ul > li { padding-left: 0.8rem; }
.list[data-bul="dash"] > li::before,
.list[data-bul="dot"] > li > ul > li::before { content: ""; width: 0.5rem; height: 0.1rem; top: 0.9rem; }