@font-face { font-family: "Pretendard"; font-weight: 400; font-display: swap; src: local("Pretendard Regular"), url("/common/font/Pretendard-Regular.woff2") format("woff2"); } 
@font-face { font-family: "Pretendard"; font-weight: 600; font-display: swap; src: local("Pretendard SemiBold"), url("/common/font/Pretendard-SemiBold.woff2") format("woff2"); } 
@font-face { font-family: "Pretendard"; font-weight: 700; font-display: swap; src: local("Pretendard Bold"), url("/common/font/Pretendard-Bold.woff2") format("woff2"); } 
@font-face { font-family: 'LCD14'; src: local("LCD14"), url("/common/font/LCD14.woff2") format("woff2"); } 

/* ==================== 정렬 ==================== */
.txt-l { text-align: left !important; } 
.txt-c { text-align: center !important; } 
.txt-r { text-align: right !important; } 
/* ==================== 크기 ==================== */
.fs-12 { font-size: 1.2rem !important; } 
.fs-14 { font-size: 1.4rem !important; } 
.fs-16 { font-size: 1.6rem !important; } 
.fs-18 { font-size: 1.8rem !important; } 
.fs-20 { font-size: 2.0rem !important; } 
.fs-22 { font-size: 2.2rem !important; } 
.fs-24 { font-size: 2.4rem !important; } 
.fs-26 { font-size: 2.6rem !important; } 
.fs-28 { font-size: 2.8rem !important; } 
.fs-30 { font-size: 3.0rem !important; } 
.fs-32 { font-size: 3.2rem !important; } 
/* ==================== 굵기 ==================== */
.fw-300 { font-weight: 300 !important; } 
.fw-500 { font-weight: 500 !important; } 
.fw-700 { font-weight: 700 !important; } 
/* ==================== 장식 ==================== */
.txt-underline { text-decoration: underline !important; } 
.txt-linethrough { text-decoration: line-through !important; } 
/* ==================== 기본 ==================== */
h1 { font-size: 3.2rem; } 
h2 { font-size: 2.6rem; } 
h3 { font-size: 2.4rem; } 
h4 { font-size: 2rem; } 
h5 { font-size: 1.8rem; } 
h6 { font-size: 1.6rem; } 
h1, h2, h3 { margin: 3.6rem 0 2.4rem; } 
h4, h5, h6 { margin: 2.4rem 0 1.2rem; } 
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child { margin-top: 0; } 
nav h1 { font-size: unset; margin: 0; } 
p { margin-top: 0.4rem; } 
span { display: inline; } 
h1, h2, h3, h4, h5, h6, strong, b { font-weight: 700; } 
em { text-decoration: underline; } 

.tit-wrap { display: flex; align-items: center; justify-content: space-between; margin-bottom: 2.4rem; } 
.tit-wrap h1,
.tit-wrap h2,
.tit-wrap h3,
.tit-wrap h4,
.tit-wrap h5,
.tit-wrap h6 { margin-bottom: 0; } 

a:not(:has(*)):hover { text-decoration: underline; }