
/* ==================== input ==================== */
input[type="text"] { display: block; border: 0.1rem solid var(--brd_type01); border-radius: 0.4rem; padding: 0.4rem 0.8rem; font-size: 1.4rem; line-height: 2.1rem; width: 100%; } 
input[type="text"]:focus { border-color: var(--color_point); } 
input[type="text"]::placeholder { font-size: 1.4rem; line-height: 2.1rem; color: var(--txt_type02); } 