/* html { --primary-500: 190, 145, 65; } 
html[data-theme="dark"] { --primary-500: 255, 210, 120; } */
/* ==================== 공통 ==================== */
h1, h2, h3, h4, h5, h6, strong, b { font-weight: 600; } 
.box { border-radius: 0; } 
.font-normal { font-family: 'Pretendard', sans-serif; } 
.font-brand { font-family: 'Sacramento', cursive; } 
.btn.naver { background-color: #03c75a; } 
.btn.ddnayo { background-color: #ea1f62; } 
/* ==================== 레이아웃 ==================== */
header { position: fixed; top: 4rem; z-index: 999; width: 100%; } 
header .gnb { position: relative; display: flex; justify-content: space-between; align-items: flex-start; max-width: 136rem; margin: 0 auto; background-color: rgba(var(--bg-000), 0.7); backdrop-filter: blur(5px); padding: 1.6rem 4rem; } 
header .gnb h1 a svg { width: 8rem; height: 4rem; } 
header .gnb::before { content: ''; position: absolute; left: 50%; top: 0; display: block; width: 100%; height: 100%; background-color: rgb(var(--bg-000)); transform-origin: center; transform: translateX(-50%); z-index: -1; opacity: 0; } 
header .gnb > ul { display: flex; justify-content: space-between; align-items: flex-start; width: 58rem; height: 4rem; overflow: hidden; text-align: center; } 
header .gnb > ul > li > a { font-weight: 600; line-height: 4rem; } 
header .gnb > ul > li > a.is-active { color: rgb(var(--primary-500)); } 
header .gnb li:hover > a { color: rgb(var(--primary-500)); } 
header .gnb > ul > li > ul { margin-top: 3.2rem; } 
header .gnb > ul > li > ul > li + li { margin-top: 0.8rem; } 
header .gnb > ul > li > ul > li > a { display: block; width: 100%; font-weight: 600; color: rgb(var(--txt-700)); } 
header .gnb > ul > li > ul > li > a:hover { text-decoration: underline; color: rgb(var(--txt-700)); } 
@keyframes expand { 
 0% { width: 100%; height: 100%; top: 0; opacity: 0; } 
50% { width: 100vw; height: 100%; top: 0; opacity: 1; } 
100% { width: 100vw; height: 36rem; top: -4rem; opacity: 1; } 
 }
@keyframes shrink { 
 0% { width: 100vw; height: 36rem; top: -4rem; opacity: 1; } 
50% { width: 100vw; height: 100%; top: 0; opacity: 1; } 
100% { width: 100%; height: 100%; top: 0; opacity: 0; } 
 }
header .gnb .visual,
header .gnb .util { visibility: hidden; opacity: 0; } 
header .gnb .visual { position: absolute; left: 4rem; bottom: 0; display: flex; align-items: flex-start; gap: 1.2rem; background-color: rgb(var(--bg-000)); } 
header .gnb .visual img { width: 30rem; } 
header .gnb .util { position: absolute; right: 4rem; bottom: 0; display: flex; align-items: center; gap: 0.8rem; } 

header .gnb .menu-toggle { display: none; position: relative; z-index: 1; width: 2.8rem; height: 2.8rem; margin-top: 0.6rem; } 
header .gnb .menu-toggle i { display: block; width: calc(100% - 0.4rem); height: 0.2rem; border-radius: 0.1rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: rgb(var(--txt-900)); transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out, width 0.3s ease-in-out; } 
header .gnb .menu-toggle i:nth-child(1) { margin-top: -0.8rem; } 
header .gnb .menu-toggle i:nth-child(2) { margin-top: 0; } 
header .gnb .menu-toggle i:nth-child(3) { margin-top: 0; } 
header .gnb .menu-toggle i:nth-child(4) { margin-top: 0.8rem; } 
header .gnb .menu-toggle.is-active i:nth-child(1) { width: 0; margin-top: 0; } 
header .gnb .menu-toggle.is-active i:nth-child(2) { transform: translate(-50%,-50%) rotate(45deg); } 
header .gnb .menu-toggle.is-active i:nth-child(3) { transform: translate(-50%,-50%) rotate(-45deg); } 
header .gnb .menu-toggle.is-active i:nth-child(4) { width: 0; margin-top: 0; } 

.wrap .lnb { position: absolute; width: 100%; left: 0; top: 36rem; padding-top: 11.2rem; margin-top: -11.2rem; background-color: rgb(var(--bg-000)); border-bottom: 0.1rem solid rgb(var(--brd-500)); z-index: 2; } 
.wrap .lnb.is-fixed { position: fixed; top: 11.2rem; } 
.wrap .lnb h1 { display: none; } 
.wrap .lnb ul { display: flex; } 
.wrap .lnb ul li a { padding: 0 4rem; line-height: 6rem; font-weight: 700; display: block; width: 100%; text-align: center; } 
.wrap .lnb ul li a.is-active { background-color: rgb(var(--bg-900)); color: rgb(var(--txt-100)); } 
.wrap .lnb,
.wrap .cont-wrap section,
footer { padding-left: calc(50vw - 68rem); padding-right: calc(50vw - 68rem); } 
.wrap .tit-wrap.dep-1 { padding-left: calc(50vw - 64rem); padding-right: calc(50vw - 64rem); } 

.wrap main { min-height: 50rem; } 

footer { position: relative; padding-top: 3.6rem; padding-bottom: 3.6rem; background-color: rgb(var(--bg-300)); display: flex; flex-direction: column; } 
footer svg { width: 16rem; height: 10rem; } 
footer .footer-inner { position: relative; display: flex; justify-content: space-between; align-items: flex-end; gap: 2.4rem; margin-top: 2.4rem; } 
footer .footer-inner .btn-wrap { position: absolute; right: 0; top: -5.6rem; } 
/* ==================== 타이틀 ==================== */
.lnb + main .tit-wrap { margin-bottom: 6rem; } 
.tit-wrap { flex-direction: column; } 
.tit-wrap.dep-1 { position: relative; background: rgb(var(--bg-500)) no-repeat center / cover; height: 36rem; justify-content: center; align-items: flex-start; padding-top: 11.2rem; margin-bottom: 0; color: rgb(var(--txt-white)); z-index: 2; } 
.tit-wrap.dep-2 { text-align: center; gap: 0.6rem; } 
.tit-wrap.dep-2 h2 { font-size: 1.6rem; color: rgb(var(--primary-500)); } 
.tit-wrap.dep-2 p { font-size: 2.8rem; font-weight: 600; } 
.cont h3 { font-size: 2rem; } 
.cont h4 { font-size: 1.8rem; } 
/* ==================== 컨텐츠 ==================== */
.cont-wrap { } 
.cont-wrap section { position: relative; padding: 6rem 0; } 
.cont-wrap section:nth-of-type(odd) { background-color: rgb(var(--bg-100)); } 
.cont-wrap section .cont.ty-row { display: flex; gap: 3.2rem; } 
.cont-wrap section .cont.ty-row > div { flex: 1; } 
.cont-wrap section .cont.ty-row > .visual { position: relative; } 
.cont-wrap section .cont.ty-row > .visual img { width: 100%; height: 100%; object-fit: cover; } 
.cont-wrap section .cont.ty-row > .visual blockquote { position: absolute; left: -1.2rem; bottom: -2rem; width: calc(100% - 4rem); max-width: 32rem; margin: 0; background-color: rgba(var(--bg-200), 0.9); } 
.cont-wrap section .cont.ty-row > .visual blockquote cite { align-self: flex-end; } 
.info-wrap { display: flex; margin-top: auto; gap: 1.2rem; } 
.info-wrap > .box { flex: 1; } 
/* ==================== 홈 ==================== */
/* 홈 > 스와이퍼 */
.wrap main.home .swiper { position: relative; } 
.wrap main.home .swiper::before { content: ""; display: block; width: 100%; height: 24rem; position: absolute; left: 0; bottom: 0; background: linear-gradient( to bottom, transparent, rgb(var(--bg-100)) 70%, rgb(var(--bg-100)) ); z-index: 2; } 
.wrap main.home .swiper-wrapper { min-height: 36rem; height: 70vh; } 
.wrap main.home .swiper .swiper-wrapper .swiper-slide { position: relative; overflow: hidden; } 
.wrap main.home .swiper .swiper-wrapper .swiper-slide img { position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover; transition: transform 6s ease-in-out 1.5s; pointer-events: none; will-change: transform; backface-visibility: hidden; } 
.wrap main.home .swiper .swiper-wrapper .swiper-slide.swiper-slide-active img { transform: scale(1.1); } 
.wrap main.home .swiper .tit-wrap.dep-1 { justify-content: flex-end; align-items: flex-end; gap: 0.4rem; padding-bottom: 1.2rem; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: none; text-align: right; z-index: 2; pointer-events: none; color: rgb(var(--txt-900)); } 
.wrap main.home .swiper .tit-wrap.dep-1 p { display: flex; flex-wrap: wrap; justify-content: flex-end; gap: 0 0.4rem; } 
.wrap main.home .swiper .tit-wrap.dep-1 .btn { margin-top: 1.2rem; pointer-events: auto; color: rgb(var(--txt-white)); } 
/* 홈 > 소개 */
.wrap main.home .cont-wrap .home-about .cont > div:first-child > div > div { } 
/* 홈 > 객실소개 */
.wrap main.home .cont-wrap .home-room .cont > a { padding-bottom: 1.2rem; border-bottom: 0.1rem solid rgb(var(--brd-700)); transition: border-color 0.3s ease-in-out; } 
.wrap main.home .cont-wrap .home-room .cont > a .thumb { overflow: hidden; } 
.wrap main.home .cont-wrap .home-room .cont > a .thumb img { transition: transform 0.3s ease-in-out; } 
.wrap main.home .cont-wrap .home-room .cont > a h3,
.wrap main.home .cont-wrap .home-room .cont > a h3 span { transition: color 0.3s ease-in-out; } 
.wrap main.home .cont-wrap .home-room .cont > a:hover { border-bottom-color: rgb(var(--primary-500)); } 
.wrap main.home .cont-wrap .home-room .cont > a:hover .thumb img { transform: scale(1.1); } 
.wrap main.home .cont-wrap .home-room .cont > a:hover h3,
.wrap main.home .cont-wrap .home-room .cont > a:hover h3 span { color: rgb(var(--primary-500)) !important; } 
/* 홈 > 실시간예약 */
.wrap main.home .cont-wrap .home-book { background: url("../images/home/bnr_book.jpg") no-repeat center / cover; background-attachment: fixed; } 
/* 홈 > 소식 */
.wrap main.home .cont-wrap .home-news > .cont .box:not(:last-child) { cursor: pointer; } 
.wrap main.home .cont-wrap .home-news > .cont .box .category { display: flex; align-items: center; gap: 0.4rem; color: rgb(var(--primary-500)); font-weight: 600; } 
.wrap main.home .cont-wrap .home-news > .cont .box.bg-point .category { color: rgb(var(--txt-white)); } 
.wrap main.home .cont-wrap .home-news > .cont .box.bg-point > div { position: relative; } 
.wrap main.home .cont-wrap .home-news > .cont .box.bg-point > div .title { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(var(--bg-900), 0.2); display: flex; flex-direction: column; justify-content: flex-end; } 
.wrap main.home .cont-wrap .home-news > .cont .bg-point img { position: static; width: 100%; max-height: 20rem; object-fit: cover; } 
.wrap main.home .cont-wrap .home-news .ty-masonry > .box:last-child::before { content: ""; display: block; width: 100%; height: 20rem; position: absolute; left: 0; bottom: 0; background: linear-gradient( to bottom, transparent, rgb(var(--bg-100)) 60%, rgb(var(--bg-100)) ); z-index: 1; } 
.wrap main.home .cont-wrap .home-news .ty-masonry > .box:last-child .tit-wrap,
.wrap main.home .cont-wrap .home-news .ty-masonry > .box:last-child .btn-wrap { position: relative; z-index: 1; } 

/* ==================== 펜션소개 ==================== */
.wrap main.about .tit-wrap.dep-1 { background-image: url("../images/about/hero_about.jpg"); } 
/* ==================== 객실소개 ==================== */
.wrap main.room .tit-wrap.dep-1 { background-image: url("../images/room/hero_room.jpg"); } 
.wrap main.room .cont-wrap .room-detail .cont .visual { display: flex; flex-direction: column; } 
.wrap main.room .cont-wrap .room-detail .cont .visual > img { padding-bottom: 7.8rem; } 
.wrap main.room .cont-wrap .room-detail .cont .img-wrap { position: absolute; left: 0; bottom: 0; width: 100%; height: 7rem; } 
.wrap main.room .cont-wrap .room-detail .cont .img-wrap img { cursor: pointer; opacity: 0.7; object-fit: cover; } 
.wrap main.room .cont-wrap .room-detail .cont .img-wrap img.is-active { opacity: 1; } 
.wrap main.room .cont-wrap .room-another { padding-left: 0; padding-right: 0; } 
.wrap main.room .cont-wrap .room-another .cont > .box { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; aspect-ratio: 16/9; background: no-repeat center / auto 100%; transition: background-size 0.3s ease-in-out; min-height: 32rem; } 
.wrap main.room .cont-wrap .room-another .cont > .box:nth-child(1) { background-image: url("../images/room/card_roomA_01.jpg"); } 
.wrap main.room .cont-wrap .room-another .cont > .box:nth-child(2) { background-image: url("../images/room/card_roomD_01.jpg"); } 
.wrap main.room .cont-wrap .room-another .cont > .box:nth-child(3) { background-image: url("../images/room/card_roomH_01.jpg"); } 
.wrap main.room .cont-wrap .room-another .cont > .box::before { content: ""; position: absolute; inset: 3.2rem; background-color: rgba(var(--bg-100), 0.7); } 
.wrap main.room .cont-wrap .room-another .cont > .box:hover { background-size: auto 110%; } 
.wrap main.room .cont-wrap .room-another .cont > .box .tit-wrap { position: relative; margin-bottom: 0; padding: 0 1.2rem; } 
.wrap main.room .cont-wrap .room-another .cont > .box .btn-wrap { position: relative; margin-top: 1.2rem; } 
/* .wrap main.room .cont-wrap .room-another .cont > .box .btn-wrap .btn { border-color: rgb(var(--txt-white)); } */
/* ==================== 예약하기 ==================== */
.wrap main.book .tit-wrap.dep-1 { background-image: url("../images/book/hero_book.jpg"); } 
.wrap main.book .cont-wrap .book-realtime { background: url("../images/home/bnr_book.jpg") no-repeat center / cover; background-attachment: fixed; } 
/* ==================== 고객서비스 ==================== */
.wrap main.cs .tit-wrap.dep-1 { background-image: url("../images/cs/hero_cs.jpg"); } 
.wrap main.cs .cont-wrap .arround-detail:nth-child(odd) .cont { flex-direction: row-reverse; } 
.wrap main.cs .cont-wrap .arround-detail .cont .visual { display: flex; flex-direction: column; } 
.wrap main.cs .cont-wrap .arround-detail .cont .visual > img { padding-bottom: 7.8rem; aspect-ratio: 4/3; object-position: bottom; } 
.wrap main.cs .cont-wrap .arround-detail .cont .img-wrap { position: absolute; left: 0; bottom: 0; width: 100%; height: 7rem; } 
.wrap main.cs .cont-wrap .arround-detail .cont .img-wrap img { cursor: pointer; opacity: 0.7; } 
.wrap main.cs .cont-wrap .arround-detail .cont .img-wrap img.is-active { opacity: 1; } 
/* ==================== 미디어쿼리 ==================== */
/* Tablet Landscape ~ */
@media screen and (max-width: 1439px) { header .gnb { max-width: calc(100vw - 8rem); } 
header .gnb .visual { display: none; } 
.wrap .lnb,
.wrap .cont-wrap section,
footer { padding-left: 4rem; padding-right: 4rem; } 
.wrap .tit-wrap.dep-1 { padding-left: 8rem; padding-right: 8rem; } 
 }
/* Tablet Portrait ~ */
@media screen and (max-width: 1023px), (hover: none) and (pointer: coarse) and (max-width: 1439px) { header .gnb > ul { position: absolute; right: -44rem; top: -4rem; flex-direction: column; justify-content: flex-start; width: 40rem; height: 100vh; margin-top: 22.5rem; padding: 8rem; background-color: rgb(var(--bg-100)); transition: right 0.3s ease-in-out; text-align: left; max-height: calc(100vh - 22.5rem); overflow: auto; } 
header .gnb > ul > li + li { margin-top: 2.4rem; } 
header .gnb > ul > li > a { line-height: inherit; } 
header .gnb > ul > li > ul { margin-top: 0.8rem; } 
header .gnb > ul > li > ul > li + li { margin-top: 0; } 
header .gnb .util { visibility: visible; opacity: 1; position: relative; inset: unset; margin: 0.6rem 1.2rem 0 auto; gap: 1.2rem; } 
header .gnb .util .ico-wrap { padding: 0; gap: 0; background: none; border: none; font-size: 0; height: auto; } 
header .gnb .util [data-act="theme"] { display: none; } 
header .gnb .util svg { width: 2.8rem; height: 2.8rem; } 
header .gnb > .menu-toggle.is-active + ul { right: -4rem; } 
header .gnb .menu-toggle { display: block; } 
header .gnb .menu-toggle ~ .visual img { width: 100%; opacity: 0.8; } 
header .gnb .visual .flx { display: none !important; } 
header .gnb .menu-toggle ~ .visual { visibility: visible; opacity: 1; inset: unset; display: flex; transition: right 0.3s ease-in-out; right: -44rem; } 
header .gnb .menu-toggle ~ .visual { top: -4rem; width: 40rem; } 
header .gnb .menu-toggle.is-active ~ .visual { right: -4rem; } 
footer { align-items: center; text-align: center; } 
footer .footer-inner { flex-direction: column; align-items: center; font-size: 1.4rem; } 
footer .footer-inner .btn-wrap { position: static; } 
footer .footer-inner .def-list { align-items: center; } 
footer svg { width: 12.8rem; height: 8rem; } 
.lnb + main .tit-wrap { margin-bottom: 5.2rem; } 
.wrap .lnb ul li a { line-height: 5.2rem; } 
.cont-wrap section .cont.ty-row { flex-direction: column !important; } 
.cont-wrap section .cont.ty-row > .visual blockquote { position: static; width: 100%; max-width: unset; margin-top: 1.2rem; } 
.cont-wrap section .cont.ty-row > div:first-child > div > div { text-align: center; } 
.cont-wrap section .cont.ty-row > div:first-child > div > div svg { margin: 0 auto; } 
 }
/* Mobile ~ */
@media screen and (max-width: 767px) { header { top: 0; } 
header .gnb h1 a svg { height: 3.2rem; } 
header .gnb { max-width: unset; padding: 1.6rem 2rem; } 
header .gnb .util { margin-top: 0.4rem; } 
header .gnb .util .ico-wrap svg { width: 2.4rem; height: 2.4rem; } 
header .gnb .menu-toggle { width: 2.4rem; height: 2.4rem; margin-top: 0.4rem; } 
header .gnb .menu-toggle i:nth-child(1) { margin-top: -0.6rem; } 
header .gnb .menu-toggle i:nth-child(2) { margin-top: 0; } 
header .gnb .menu-toggle i:nth-child(3) { margin-top: 0; } 
header .gnb .menu-toggle i:nth-child(4) { margin-top: 0.6rem; } 
header .gnb > ul { right: -30rem; top: 0; width: 30rem; margin-top: 16.8rem; padding: 4rem; max-height: calc(100vh - 16.8rem); } 
header .gnb > .menu-toggle.is-active + ul { right: 0; } 
header .gnb .menu-toggle ~ .visual { right: -30rem; } 
header .gnb .menu-toggle ~ .visual { top: 0; width: 30rem; } 
header .gnb .menu-toggle.is-active ~ .visual { right: 0; } 
.wrap .lnb.is-fixed { top: 6.4rem; } 
.wrap .lnb { padding-left: 0; padding-right: 0; } 
.wrap .cont-wrap section,
footer { padding-left: 2rem; padding-right: 2rem; } 
.wrap .tit-wrap.dep-1 { padding-top: 6.4rem; padding-left: 4rem; padding-right: 4rem; } 
.wrap .lnb ul li { flex: 1; } 
.wrap .lnb ul li a { padding: 0; font-size: 1.4rem; } 
.info-wrap { flex-direction: column; } 
/* 홈 */
.wrap main.home .cont-wrap .home-room .cont { flex-direction: column; } 
/* 펜션소개 */
.wrap main.about .cont-wrap .about-facility > .cont > div > div { flex-direction: column; text-align: center; } 
/* img-wrap */
.wrap main.room .cont-wrap .room-detail .cont .visual > img { padding-bottom: 6.8rem; } 
.wrap main.room .cont-wrap .room-detail .cont .img-wrap { height: 6rem; } 
.wrap main.cs .cont-wrap .arround-detail .cont .visual > img { padding-bottom: 6.8rem; } 
.wrap main.cs .cont-wrap .arround-detail .cont .img-wrap { height: 6rem; } 
 }
@media (hover: hover) and (pointer: fine) { header .gnb.is-opened .visual,
header .gnb.is-opened .util { visibility: visible; opacity: 1; transition: visibility 0s linear 0.4s, opacity 0.2s linear 0.4s; } 
header .gnb.is-opened > ul { height: 22.8rem; transition: height 0.2s ease-in-out 0.2s; } 
header .gnb.is-closing > ul { transition: height 0.2s ease-in-out; } 
header .gnb.is-opened::before { animation: expand 0.4s ease-in-out forwards; box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0, 0.2); } 
header .gnb.is-closing::before { animation: shrink 0.4s ease-in-out forwards; box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0, 0.2); } 
 }
@media (hover: none) and (pointer: coarse) { } 

