/* ==================== 레이아웃 ==================== */
header { position: fixed; top: 4rem; z-index: 999; width: 100%; } 
header .gnb { display: flex; justify-content: space-between; align-items: center; max-width: 136rem; height: 8rem; margin: 0 auto; background-color: rgba(var(--bg-000), 0.5); backdrop-filter: blur(5px); padding: 0 2rem; } 
header .gnb ul { display: flex; justify-content: space-between; align-items: center; } 
header .gnb [data-action="toggle-menu"] { display: none; } 
header [data-action="toggle-theme"] { position: absolute; right: 0; bottom: 0; } 

.wrap .lnb { position: absolute; width: 100%; left: 0; top: 36rem; } 
.wrap .lnb h1 { display: none; }
.wrap .lnb ul { display: flex; }
.wrap .lnb ul li a { padding: 0 2rem; line-height: 6rem; font-weight: 700; }
.wrap .lnb,
.wrap main > * { padding-left: calc(50vw - 68rem); padding-right: calc(50vw - 68rem); } 
/* ==================== 타이틀 ==================== */
.tit-wrap { flex-direction: column; } 
.tit-wrap.dep-1 {  background-color: #ccc; height: 36rem; justify-content: center; align-items: flex-start; padding-top: 12rem; margin-bottom: 0; } 
/* ==================== 컨텐츠 ==================== */
.cont-wrap { padding-top: 6rem; }